.section1{
    background: url("../img/bg4.jpg");
    background-size: cover;
}
.section2{
    background: url("../img/bg3.jpg");
    background-size: cover;
}
.section3{
    background: url("../img/bg2.jpg");
    background-size: cover;
}
.section4{
    background: url("../img/bg1.jpg");
    background-size: cover;

}
.top{
    background-color: rgba(0,0,0,0.6) ;
    border-bottom: none;
}