html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	background:#EBECEE
}
ul,li,h4,p{
	margin: 0;
	padding: 0;
}
.header{
	height: 100px;
	background: url(../img/header-bg.png) repeat-x;
}
.header-cont{
	height: 100%;
	width: 1124px;
	margin: 0 auto;
}
.logo{
	display: inline-block;
	height: 100%;
}
.logo>a{
	display: inline-block;
	background: url(../img/logo.png) no-repeat;
	height: 50px;
	width: 248px;
	margin: 25px 0 0 16px;
}
.header-nav{
	float: right;
	height: 40px;
}
.header-nav ul{
	float: left;
	margin-top:42px ;
}
.header-nav ul li{
	float: left;
	list-style: none;
	width: 125px;
	height: 38px;
	line-height: 38px;
	text-align: center;
}
.header-nav ul li>a{
	text-decoration: none;
	color: black;
	font-family: "微软雅黑";
	border: 1px solid gray;
	padding: 0 30px;
	white-space: nowrap;
	-webkit-border-image:url(../img/right-border.png) 0 15 0 15 round ;
	border-image: url(../img/right-border.png) 0 30 0 30;
	
}
.header-nav ul li:first-child>a{
	border: none;
	border-image: none;
}
.header-nav ul li:last-child>a{
	border: none;
	border-image: none;
}
.header-nav ul li.active{
	background: url(../img/btn-ative.png) no-repeat center center;
	height: 38px;
	line-height: 38px;
}
.header-nav ul li.active>a{
	border: none;
	border-image: none;
	background: url(../img/btn-ative.png) no-repeat center center;
	height: 38px;
	line-height: 38px;
	color: white;
}
.warp{
	width: 1128px;
	margin: 0 auto;
}
.time{
	font-size: 12px;
}
.banner{
	height: 328px;
	width: 100%;
}
/* 轮播图 */
.bannerLunbo{
	
}
.bannerLunbo >li{
	display: none;
	list-style: none;
}
.bannerLunbo>li.active{
	display: block;
}
section{
	display: block;
	
}
.alpj{
	/*width: 1128px;*/
	margin: 10px auto 0;
}
.title{
	background: url(../img/ad-bg.png) repeat-x;
	width: 100%;
	height: 32px;
	line-height: 32px;
	position: relative;
}
.title>i{
	background: url(../img/title-start.png) no-repeat;
	display: inline-block;
	width: 28px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
}
.title>h4{
	margin: 0;
	padding-left: 28px;
	font-size: ;
	font-family: "微软雅黑";
	font-weight: 400;
	display: inline-block;
}
.title>small{
	font-size: 13px;
}
.more{
	position: absolute;
	right: 12px;
	font-size: 12px;
	color: gray;
}
.lunbo{
	width: 100%;
	height: 130px;
	border: 1px solid gray;
}
.fwxm:before{
	clear: both;
}
.fwxm{
	width: 100%;
}
.fwxm-left{
	margin-top: 10px;
	margin-bottom:5px ;
	width: 728px;
	display: inline-block;
	border: 1px solid lightgray;
}
.left-cont{
	height: 202px;
	width: 100%;
}
.item{
}
.item>li{
	width: 240px;
	float: left;
	height: 106px;
	list-style: none;
}
.item a{
	display: inline-block;
	width: 100%;
	height: 106px;
	color:gray ;
}
.img{
	float: left;
	width: 88px;
	height: 100%;
	background: url(../img/icon.png) no-repeat center center;
}
.detail{
	float: left;
	width: 152px;
	height: 72px;
	font-size: 13px;
	margin: 14px auto;
}
.detail>h4{
	margin-top:10px ;
	margin-bottom: 5px;
	color: black;
}
.fwxm-right{
	float: right;
	width: 368px;
	height: 250px;
}
.new-title{
	height: 48px;
	line-height: 48px;
	position: relative;
	background-color: #ADD8E6;
	background: url(../img/news-logo.png) no-repeat left center;
}
.new-title>h4{
	display: inline-block;
	margin: 0;
	padding-left: 136px;
	color: gray;
}
.new-cont{
}
.new-ul{
}
.new-ul>li{
	height: 38px;
	line-height: 38px;
	width: 100%;
	list-style: none;
	cursor: pointer;
	border-bottom: 1px dotted gray;
}
.new-ul>li>a{
	position: relative;
	text-decoration: none;
	color: gray;
	display: inline-block;
	height: 100%;
	font-size: 14px;
	margin-left: 10px;
	width: 348px;
}
.new-ul>li>a>i{
	position: absolute;
	right: 3px;
	font-style: normal;
}
.footer{
	width: 100%;
	height: 64px;
	background-color: #707070;
}
